.basic-info-list {
  margin: 10px 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  .basic-info-content {
    padding: 8px 0;
    .basic-img-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 0.25rem;
      .character-icon {
        display: flex;
        width:96px;
        height:96px;
        margin-right:8px;
      }

      .character-description {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 11;
        .character-info-item {
          margin: 2px;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
