.stat-info {
  width:100%;
  .stat-info-list {
    overflow: hidden;
    display: flex;
    flex: 1;
    height: 300px;
    flex-direction: column;

    .stat-info-item {
      display: flex;
      justify-content: space-between;
      margin: 4px 0;
      position: relative;
      cursor: pointer;
      .stat-name {
        color: $text-low-color;
      }
      .stat-value {
        color: $text-middle-color;
      }
      &:hover {
        background-color: rgba(188, 188, 255, 0.2);
      }
      &:hover .stat-description {
        color: $pinkbean-point-color;
        display: block;
      }
      .stat-description {
        position: absolute;
        display: none;
        right: 0;
        padding: 0.5rem;
        background-color: rgba(188, 188, 255, 0.2);
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
