.link-info {
  width:100%;
  .link-info-list {
    height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .link-info-item {
      display: flex;
      align-items: center;
      margin: 4px 0;
      padding: 8px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.2);
      position: relative;
      &:hover {
        background-color: $pinkbean-point-color;
      }
      cursor: pointer;
      .link-icon {
        display: flex;
        justify-content: center;
        // overflow:hidden;
        min-width:32px;
        align-items: center;
        margin-right: 8px;
      }
      .link-skill-level {
        margin-left: 4px;
      }
      .link-skill-effect {
        font-size: 0.8rem;
        color: $text-middle-color;
        margin-top: 4px;
      }
    }
  }
}
