@import "./components/common/searchHeader.scss";
@import "./pages/rank.scss";
@import "./pages/skills.scss";
.app{
  background: $background-color;
  display:flex; 
  flex-direction: column;
  min-height: 100dvh;
  padding:1rem;
  color: #fff;

}
