@import "./theme.scss";
@import "./reset.scss";
@import "./font.scss";
@import "./app.scss";
body {
  margin: 0;
  font-family: "MaplestoryOTFBold", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.start-message{
  font-size: 0.9rem;
}