/* Media queries for different screen sizes */
@media (max-width: 1199px) and (min-width: 801px) {
  .rank-info-list {
  .rank-info-item {
      width: 24.5% !important; // 4 items per row
  }}
}

@media (max-width: 800px) and (min-width: 601px) {
.rank-info-list {
  .rank-info-item {
      width: 32.5% !important; // 3 items per row
  }}
}

@media (max-width: 600px) {
  .rank-info-list {
  .rank-info-item {
      width: 48.5% !important; // 2 items per row
  }}
}
.rank-info-page {
  display:flex;
  flex-direction: column;
  .rank-class-list {
    .rank-class-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .rank-class-item {
        padding: 8px;
        margin: 4px;
        border-radius: 5px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        transition: all 0.2s;
        height:32px;
        text-align: center;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .selected-item {
        outline: 4px solid $highlight-color;
      }
      .warrior-block {
        background-color: $warrior-color;
      }
      .archer-block {
        background-color: $archer-color;
      }
      .wizard-block {
        background-color: $wizard-color;
      }
      .thief-block {
        background-color: $thief-color;
      }
      .pirate-block {
        background-color: $pirate-color;
      }
      .other-block {
        background-color: $maple-point-color;
      }
    }
  }
  .rank-info-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    .rank-info-item {
      display: flex;
      flex-direction: column;
      width:19.5%;
      box-sizing: border-box;
      padding: 0.5rem;
      margin: 4px 0;
      border-radius: 5px;
      border: 2px solid $pinkbean-point-color;
      cursor: pointer;
      &:hover {
        background-color: #ad6faa;
      }
      .rank-info-row {
        margin: 4px;
        &:first-child {
          margin-top: 0;
        }
        .rank-number {
          font-size: 1.12rem;
        }
        .character-world-name {
          border-radius: 4px;
          background-color: $text-middle-color;
          padding: 2px 4px;
          margin-right: 8px;
        }
        .character-level {
          margin-right: 8px;
        }
      }
    }
  }
}
