
.union-artifact-crystal-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  .union-artifact-crystal-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width:33%;
    aspect-ratio: 1/1.53;
    background-image: $artifact-bg-color;
    border-radius: 10px;
    border: 3px solid $artifact-border-color;
    margin: 4px 0px;
    justify-content: space-between;
    text-align: center;
    padding: 8px 0 0 0;
    .crystal-level {
      color: $artifact-color;
    }
    .crystal-option-list {
      text-align: left;
      .crystal-option-list-item {
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 0.85rem;
      }
    }
  }
  .max-level-item {
    background-image: $artifact-maxlv-bg-color !important;
    border: 3px solid $artifact-maxlv-border-color !important;
    .crystal-level {
      color: $artifact-maxlv-color !important;
    }
  }
}

.union-artifact-effect-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  .union-artifact-effect-list-item {
    display: flex;
    padding: 4px 0;
    &:first-child {
      padding-top: 0;
    }
    .artifact-effect-level {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      background-color: $star-force-bg-color;
      border-radius: 4px;
      padding: 2px 4px;
      font-size: 0.85rem;
    }
    .artifact-effect-name {
      display: flex;
      align-items: center;
      padding: 4px;
      font-size: 0.85rem;
    }
  }
}

