@import './theme.scss';
@import './reset.scss';
@import './union.scss';
@import './stat.scss';
@import './equipment.scss';
@import './symbol.scss';
@import './link.scss';
@import './skills.scss';
@import './rank.scss';

.app{
  padding:20px;
  color:#fff;
  .content{
    width: 1200px;
    margin:0 auto;
    .app-header{
      .app-title{
        font-size:1.2rem;
        font-weight:900;
        color: rgb(218, 127, 153)
      }
      .logo-wrap{
        display:flex;
        justify-content: center;
        align-items: center;
        height:60px;
        .logo-image{
          height:100%;
        }
      }
      .search-bar-wrap{
        display:flex;
        justify-content: center;
        border-radius: 5px;
        border:2px solid #da7f99;
        .search-bar-input{
          width:100%;
          height:44px;
          background: none;
          padding:8px;
          font-weight:900;
          color: #da7f99;
          background-color: #f7f2f3;
          border:none;
          &:focus{
            outline: none;
          }
        }
        .search-button{
          background-color: #da7f99;
          color: #943376;
          font-weight:900;
          padding: 0.3rem;
          transition: all 0.4s;
          border:none;
          cursor:pointer;
          &:hover{
            background-color: #fbc4c7;
            color:#da7f99;
          }
        }
      }
    }
    .tab-content{
      .tab-list{
        display:flex;
        height:40px;
        margin-top:20px;

        .tab-item{
          flex:0 1 100px;
          background-color:#f7f2f3;
          color:#943376;
          font-weight:900;
          cursor:pointer;
          a{
            display:flex;
            align-items: center;
            justify-content: center;
            width:100%; 
            height:100%;
          }
          &:nth-child(2n){
            border-left: 1px solid #943376;
            border-right: 1px solid #943376;
          }
          &:first-child{ border-left: none; border-radius: 5px 0 0 0;}
          &:last-child{ border-right: none; border-radius: 0 5px 0 0; }
        }
        .cur-active-item{
          background-color:#fbc4c7;
          // color:#943376
        }
      }
    }
  }
}