.stat-info-page{
  display:flex;
}

.basic-info-list{
  margin: 10px 0;
  padding: 8px;
  background-color: rgba(255,255,255,0.2);

  .basic-info-content {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    .basic-img-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 0.25rem;
      .character-icon {
        border-radius:5px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
      }

      .character-description {
        display: flex;
        flex-direction: column;
        .character-info-item {
          margin: 0.2rem;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}