$maple-point-color: #f68500;
$legend-color: #5cb85c;
$unique-color: #f6a730;
$epic-color: #6d62a1;
$rare-color: #5393ca;
$star-force-color: #f6a730;
$star-force-bg-color: rgba(255, 248, 232, 0.3);
$text-low-color: #9197b1;
$text-middle-color: #848999;

$warrior-color: rgb(198, 42, 91);
$archer-color: rgb(143, 175, 68);
$wizard-color: rgb(46, 151, 173);
$thief-color: rgb(154, 101, 170);
$pirate-color: rgb(187, 186, 187);
$hybrid-color: linear-gradient(rgb(187, 186, 187) 0%,rgb(154, 101, 170) 100%); 

$union-table-border-color: rgba(255, 248, 232, 0.1);
$union-table-bg-color: linear-gradient(rgb(76, 79, 93) 0%, rgb(39, 40, 46) 100%);
$union-table-active-color: rgb(210, 183, 153);