$union-table-border-color: rgba(255, 248, 232, 0.1);
$union-table-bg-color: linear-gradient(#4c4f5d 0%, #27282e 100%);
$union-table-active-color: #d2b799;

$warrior-color: #c62a5b;
$archer-color: #8faf44;
$wizard-color: #2e97ad;
$thief-color: #9a65aa;
$pirate-color: #bbbabb;
$hybrid-color: linear-gradient(#bbbabb 0%,#9a65aa 100%); 

$text-low-color: #9197b1;
$text-middle-color: #848999;
$maple-point-color: #f68500;
.union-info-page{
  display:flex;
  flex-wrap: wrap;
.union-info-list {
  display:flex;
  flex-direction: column;
  flex:1;
  box-sizing: border-box;
  &:nth-child(2){
    margin: 0 16px;
  }
  &:first-child{ padding-left:0;}
  &:last-child{ padding-right:0; }
  .union-info-content {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    .union-info-item {
      display: flex;
      justify-content: space-between;
      margin: 4px 0;
      color: $text-middle-color;
      .union-block-type {
        display:flex;
        flex:2;
        margin-right: 4px;
      }
      .union-block-class {
        display:flex;
        flex:2;
        color: $text-low-color;
      }
      .union-block-level {
        display:flex;
        flex:1;
      }
      .union-info-name {
        color: $text-low-color;
      }
      .union-info-value {
        color: $text-middle-color;
      }

      .warrior-block {
        color: $warrior-color;
      }
      .archer-block {
        color: $archer-color;
      }
      .wizard-block {
        color: $wizard-color;
      }
      .thief-block {
        color: $thief-color;
      }
      .pirate-block {
        color: $pirate-color;
      }
      .other-block {
        color: $maple-point-color;
      }
    }
  }
}

.union-table-wrap{
  max-width:530px;
  height:500px;
  border: 1px solid #fff;
  margin: 12px 0; 
  .union-table{
    background: $union-table-bg-color;
    .row{
      display:flex;
      .cell{
        display:flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        flex:1;
        width:24px;height:24px;
        border:1px solid $union-table-border-color;
        padding: 0.5rem;
        color:#dbdbdb;
      }
      .active-warrior-cell{background-color: $warrior-color !important;}
      .active-archer-cell{background-color: $archer-color !important;}
      .active-wizard-cell{background-color: $wizard-color !important;}
      .active-thief-cell{background-color: $thief-color !important;}
      .active-pirate-cell{background-color: $pirate-color !important;}
      .active-hybrid-cell{background: $hybrid-color;}
      .active-cell {
        box-sizing: border-box;
        background-color:$union-table-active-color;
      }
    } 
  }
}
}