.union-info-page {
  display: flex;
  flex-wrap: wrap;
  .union-info-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    &:nth-child(2) {
      margin: 0 16px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    .union-info-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      .union-info-item {
        display: flex;
        justify-content: space-between;
        margin: 4px 0;
        color: $text-middle-color;
        .union-block-type {
          display: flex;
          flex: 2;
          margin-right: 4px;
        }
        .union-block-class {
          display: flex;
          flex: 2;
          color: $text-low-color;
        }
        .union-block-level {
          display: flex;
          flex: 1;
        }
        .union-info-name {
          color: $text-low-color;
        }
        .union-info-value {
          color: #fff;
        }

        .warrior-block {
          color: $warrior-color;
        }
        .archer-block {
          color: $archer-color;
        }
        .wizard-block {
          color: $wizard-color;
        }
        .thief-block {
          color: $thief-color;
        }
        .pirate-block {
          color: $pirate-color;
        }
        .other-block {
          color: $maple-point-color;
        }
      }
    }
  }

  .union-table-wrap {
    max-width: 530px;
    height: 500px;
    border: 1px solid #fff;
    margin: 12px 0;
    .union-table {
      background: $union-table-bg-color;
      .row {
        display: flex;
        .cell {
          display: flex;
          box-sizing: border-box;
          justify-content: center;
          align-items: center;
          flex: 1;
          width: 24px;
          height: 24px;
          border: 1px solid $union-table-border-color;
          padding: 0.5rem;
          color: #dbdbdb;
        }
        .active-warrior-cell {
          background-color: $warrior-color !important;
        }
        .active-archer-cell {
          background-color: $archer-color !important;
        }
        .active-wizard-cell {
          background-color: $wizard-color !important;
        }
        .active-thief-cell {
          background-color: $thief-color !important;
        }
        .active-pirate-cell {
          background-color: $pirate-color !important;
        }
        .active-hybrid-cell {
          background: $hybrid-color;
        }
        .active-cell {
          box-sizing: border-box;
          background-color: $union-table-active-color;
        }
      }
    }
  }
}

.union-artifact-container{
  display:flex;
  .union-artifact-crystal-list{
    display:flex;
    flex-wrap: wrap;
    width:600px;
    flex:1;
  }
  .union-artifact-effect-list{
    display:flex;
    flex:1;
    flex-direction: column;
    padding:10px;
    .union-artifact-effect-list-item{
      display:flex;
      padding: 4px 0;
      &:first-child{padding-top:0;}
      .artifact-effect-level{
        display:flex;
        justify-content: center;
        align-items: center;
        width:44px;
        background-color: $star-force-bg-color;
        border-radius:4px;
        padding:2px 4px;
        font-size:0.85rem;
      }
      .artifact-effect-name{
        display:flex;
        align-items: center;
        padding:4px;
        font-size:0.85rem;
      }
    }
  }
  .union-artifact-crystal-list{
    justify-content: space-between;
    .union-artifact-crystal-list-item{
      display:flex;
      flex-direction: column;
      justify-content:center;
      box-sizing: border-box;
      width:190px;
      aspect-ratio: 1/1.53;
      background-image: $artifact-bg-color;
      border-radius:10px;
      border: 3px solid $artifact-border-color;
      margin: 10px 0px;
      justify-content: space-between;
      text-align: center;
      padding: 8px 0 0 0;
      .crystal-level{
        color: $artifact-color;
      }
      .crystal-option-list{
        text-align: left;
        .crystal-option-list-item{
          padding: 8px;
          background-color: rgba(0,0,0,0.2);
          font-size:0.85rem;
        }
      }
    }
    .max-level-item{ 
      background-image: $artifact-maxlv-bg-color !important; 
      border: 3px solid $artifact-maxlv-border-color !important;
      .crystal-level{
        color: $artifact-maxlv-color !important;
      }
    }
  }
}